.questionInputContainer {
    border-radius: 0.5rem;
    box-shadow:
        0px 0.5rem 1rem rgba(0, 0, 0, 0.14),
        0px 0px 0.125rem rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 0.8rem;
    background: var(--inputBox-bg);
}

.questionInputTextArea {
    width: 100%;
    line-height: 2.5rem;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.questionInputWrapper {
    width: 100%;
}

@media (min-width: 992px) {
    .questionInputContainer {
        min-height: 5.625rem;
        max-height: 12rem;
        overflow-y: auto;
    }
}

.followupQuestionsWrapper {
    margin-bottom: 5px;
}

/* Individual Follow-up Question Box */
.followupQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    padding: 16px;
    background: var(--surface);
    border: 2px solid var(--accent);
    border-radius: 10px;
    width: 30%;
    min-height: 80px;
    max-height: 80px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    transition:
        background 0.3s ease,
        border 0.3s ease;
    color: var(--text);
}

@media (max-width: 768px) {
    .followupQuestion {
        width: 100%;
        min-height: 60px;
        max-height: 60px;
        padding: 10px;
        margin-bottom: 8px;
    }
}

/* Hover effect for follow-up questions */
.followupQuestion:hover {
    background: var(--accent);
    color: white;
    border-color: var(--accent);
}
